.TituloAsep
	background fondoTituloAsep
	width 100%
	padding padding
	display flex
	justify-content center
	align-items center
	font-size tamanioDeLetra
	color colorDeLetra
	font-weight bold
	text-align center
	@media screen and (max-width: 453px)
		font-size 2em