.TituloAsep
	background fondoTituloAsep
	width 100%
	padding padding	
	color colorDeLetra
	font-weight bold
	text-align center
	&-texto
		font-size tamanioDeLetra
		@media screen and (max-width: 453px)
			font-size 1.5em
	&-img img
		height tamanioImagen
		@media screen and (max-width: 453px)
			height 2em
	&-img,&-texto
		display inline-block
		vertical-align middle
		margin-left 1em