rutaComponentes='../../../componentes'
rutaImagenes='../../../imagenes'


/************Layout****************/
@import('/var/www/html/zkte-framework/zkte-framework/proyecto/input/layout/layout.styl')
/************Layout****************/
/************input-asep****************/

colorInput=#FFFFFF
tamanioInput=35%
@import('/var/www/html/zkte-framework/zkte-framework/componentes/input/asep/input.styl')
/************input-asep****************/