extends ../layout/layout.jade
block head
	link(href='./asep.css' rel='stylesheet')
	script(src='./asep.js')
block header
block navegacion	
block contenido	
	//input-asep
	- rutaImagenes ='../../../imagenes'
	include ../../../componentes/input/asep/input.jade
	//input-asep
block footer

