.SelectAsep
	background: #F7F2F2 url(../../../imagenes/flecha.png) no-repeat right center
	-moz-appearance: none
	-webkit-appearance: none
	appearance: none
.Dia 
	font-size: 12px
	padding: 8px
	width: tamanioSelectDia
	border-top-width: 1px
	border-left-width: 1px
	border-right-width: 1px
	border-radius: 5px
	border-bottom-width: 1px
	border-style: solid