
.SelectAsep
	background: backgroundSelect url(rutaImagen+"/"+imagenFlecha) no-repeat right center
	-moz-appearance: none
	-webkit-appearance: none
	appearance: none
	outline none
	width anchoSelect
	cursor pointer
	height alturaSelect
	padding-left paddingLeftSelect
	text-align center
	border bordeSelectCorrecto
	border-radius borderRadiusSelect
@media screen and (max-width: 830px)
	.errorInputValidado
		display none !important
	.SelectAsep
		width 100%;
.selectCorrecto
	border inline-block
	border bordeSelectCorrecto
.selectError
	border borderSelectError
.Dia 
	font-size: tamanioLetraSelect
	padding: paddingSelect
	width: tamanioSelectDia
	border-top-width: 1px
	border-left-width: 1px
	border-right-width: 1px
	border-bottom-width: 1px
	border-style: solid
	color colorLetraSelect
.errorInputValidado
	color colorDeX
	height 1.5em
	width 2em
	background backgroundDeX
	display inline-block
	vertical-align top
	border-radius 50%
	font-weight bold
	text-align center
	padding-top 0.5em
	margin-left marginLeftSpanX
	display none
	transition all ease 0.5s
	cursor pointer
.contenedorDeSelectAValidar
	display inline-block
	vertical-align middle
	border-radius borderRadiusSelect
	//display flex
	//align-items center
	width 100%
.InputInvalidado
	display none
	transition all ease 0.5s
.inputValido
	display activado !important
.mensajeErrorActivo
	display activadoMensajeError
	background backgroundMensajeEror
	color colorMensajeError
	padding 1em 0em
	text-align center
.mensajeErrorActivo i
	margin-right 1em
.mensajeErrorInactivo
	display none
