.SelectAsep
	background: #F7F2F2 url(../../../imagenes/flecha.png) no-repeat right center
	-moz-appearance: none
	-webkit-appearance: none
	appearance: none
.Dia 
	font-size: 12px
	padding: 8px
	width: tamanioSelectDia
	border-right-width: 2px
	border-top-width: 0.5px
	border-right-width: 1px
	border-radius: 5px
.Mes 
	font-size: 12px
	padding: 8px
	width: tamanioSelectMes
	border-right-width: 2px
	border-top-width: 0.5px
	border-right-width: 1px
	border-radius: 5px
.Anio 
	font-size: 12px
	padding: 8px
	width: tamanioSelectAnio
	border-right-width: 2px
	border-top-width: 0.5px
	border-right-width: 1px
	border-radius: 5px