/************Layout****************/
body {
  font-size: 16px;
  margin: 0;
  font-family: Arial;
}
/************Layout****************/
/************input-asep****************/
.InputAsep {
  background: #fff;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 12px;
  padding: 8px;
  width: 35%;
  border-right-width: 2px;
  border-top-width: 0.5px;
  border-right-width: 1px;
  border-radius: 5px;
}
/************input-asep****************/
