
.Dibujo-Libro
	display inline-block
	transform rotate
.Tapa-Lateral-Izquierda,.Paginas
	display inline-block
	vertical-align top
.Tapa-Superior
	background colorLibro
	width anchoLibro
	height 0.3em
	border-top-right-radius 6px
	border-top-left-radius 3px
.Tapa-Lateral-Izquierda
	height grosorDeLibro
	width 0.4em
	background colorLibro
.Paginas
	width anchoPaginas
	height grosorDeLibro
	background white
	margin-left -5px
.Tapa-Inferior
	background colorLibro
	width anchoLibro
	height 0.3em
	border-bottom-right-radius 6px
	border-bottom-left-radius 3px