/********header mi blog***************/
header {
  background: #fff;
  height: 5em;
  width: 100%;
  position: relative;
}
header div {
  display: inline-block;
  widht: 5em;
  margin-left: 0.5em;
  margin-right: 1em;
  margin-top: 0.7em;
}
header span {
  color: #a7a7a7;
  transition: all ease 0.3s;
  width: 100%;
  padding: 0.5em 0em;
}
header img {
  margin-right: 0.4em;
}
header a {
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  justify-content: -ms-center;
  align-items: center;
  align-items: -ms-center;
  cursor: pointer;
  text-decoration: none;
  colo: #a7a7a7;
}
header span:hover {
  color: #a89574;
}
.img-header {
  height: 1.5em;
}
.header-contenedor-Nombres {
  position: absolute;
  top: 6px;
  left: 9px;
}
span.header-contenedor-Nombres-Nombre {
  color: #c2c2c2;
  font-size: 2.5em;
}
span.header-contenedor-Nombres-Apellido {
  color: #a89574;
  font-size: 1.5em;
}
.header-contenedor-Menu {
  margin-top: 1em;
  font-size: 1em;
  float: right;
}
.header-contenedor-Nombres i {
  color: #a89574;
  position: absolute;
  right: 21px;
  top: 18px;
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 930px) {
  .header-contenedor-Nombres {
    display: block;
    text-align: center;
    width: 100%;
    position: inherit;
    left: 0;
    margin: 0;
  }
  .header-contenedor-Menu {
    width: 100%;
    float: none;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    height: 0em;
    overflow: hidden;
    transition: all ease 0.2s;
    margin: 0 !important;
    padding: 0.3em 0em !important;
  }
  .contenedorDeOpcion-Header {
    float: none;
    display: block;
    transition: all ease 0.3s;
    margin-top: 0em;
  }
  header span:hover {
    background: #a89574;
    color: #fff;
  }
  .header-contenedor-Nombres i {
    display: inline;
  }
}
/********header mi blog***************/
