div(class="Dibujo-reloj")
	div(class="hora-superior")
		div(class="hora-punto")
	div(class="hora-intermedia")
		div(class="hora-punto")
		div(class="hora-manecilla-superior")
		div(class="hora-punto")
	div(class="hora-inferior")
		div(class="hora-punto")
		div(class="hora-manecilla-inferior")