rutaComponentes='../../../componentes'
rutaImagenes='../../../imagenes'

backgroundHeader=#2ca7df
alturaHeader=50px
tamanioImagen= 6em
paddingImagenCOntenedor=3em 2em
colorLetra=#595757
.headerEmailAsep
	background backgroundHeader
	height alturaHeader
.imagenEmailAsep
	padding paddingImagenCOntenedor
.imagenEmailAsep img
	height tamanioImagen
.contenidoLetra
	color colorLetra
	padding 0em 3em
.btn-CambiarCOntra
	margin-left 10%
	margin-top 1.5em
@media screen and (max-width: 900px)
	.imagenEmailAsep img
		height 5em
	.btn-CambiarCOntra
		margin-left 0%
		padding 9px 10px
/************Layout****************/
@import('/home/zktitos/Escritorio/zkte-framework/zkte-framework/proyecto/asep/layout/layout.styl')
/************Layout****************/
/************button-asepAzul****************/
background=#2ca7df
padding=9px 30px
color=white
borde=none
backgroundHover=#39b44c
tamanioLetara=1em
@import('/home/zktitos/Escritorio/zkte-framework/zkte-framework/componentes/button/asepAzul/button.styl')
/************button-asepAzul****************/


