div(class="Contenedor-RedesSociales-miBLog ")
	div(class="Contenedor-RedesSociales-miBLog-circle miBLog-blue")
		i(class="fa fa-facebook-official icono-face")
	div(class="Contenedor-RedesSociales-miBLog-circle miBLog-celeste")
		i(class="fa fa-twitter-square icono-twiter")
	div(class="Contenedor-RedesSociales-miBLog-circle miBLog-plomon")
		i(class="fa fa-linkedin-square icono-linkedin")