div(class="Contenedor-NavegacionMenu")
	a(href="/"): img(src=rutaImagenes+"/logo.png" class="img-Logo")
	nav(class="Navegacion-Menu")
		ul
			li(class="li-active")
				a(class="active" href="/nosotros") Nosotros
			li 
				a Directorio
			li 
				a Actividades
			li 
				a Noticias
			li 
				a Beneficios
			li 
				a Pregúntanos
	div(class="Boton-Movil")
		i(class="fa fa-angle-double-down")
nav(class="Navegacion-Menu-Movil")
	ul
			li 
				a Nosotros
			li 
				a Directorio
			li 
				a Actividades
			li 
				a Noticias
			li 
				a Beneficios
			li 
				a Pregúntanos
