.SelectAsep {
  background: #f7f2f2 url("../../../imagenes//flecha.png") no-repeat right center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 92%;
  cursor: pointer;
  border-radius: 5px;
  height: alturaSelect;
  padding-left: paddingLeftSelect;
  text-align: center;
  border: 1px solid #808080;
}
@media screen and (max-width: 830px) {
  .errorInputValidado {
    display: none !important;
  }
  .SelectAsep {
    width: 100%;
  }
}
.selectCorrecto {
  border: inline-block;
  border: 1px solid #808080;
}
.selectError {
  border: 2px solid #a94442;
}
.Dia {
  font-size: 16px;
  padding: 8px;
  width: tamanioSelectDia;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-radius: 5px;
  border-bottom-width: 1px;
  border-style: solid;
}
.errorInputValidado {
  color: #fff;
  height: 1.5em;
  width: 2em;
  background: #a94442;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  font-weight: bold;
  text-align: center;
  padding-top: 0.5em;
  margin-left: 0.5em;
  display: none;
  transition: all ease 0.5s;
  cursor: pointer;
}
.contenedorDeItemAValidar {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
.InputInvalidado {
  display: none;
  transition: all ease 0.5s;
}
.inputValido {
  display: inline-block;
}
.mensajeErrorActivo {
  display: block;
  background: #f2dede;
  color: #a94442;
  padding: 1em 1em;
  text-align: center;
}
.mensajeErrorActivo i {
  margin-right: 1em;
}
.mensajeErrorInactivo {
  display: none;
}
