.FechaConTitulo
	display flex
	&-Fecha
		background-color colorFondoTituloConFecha
		text-align center
		padding 0.6em 1em
		color colorLetraTituloConFecha
		&-Numero
			font-size 4em
			font-weight bold
		&-Mes
			font-weight bold
	&-Titulo
		margin-left 0.3em
		flex 1
		display flex
		justify-content center
		align-items center
		color white
		font-size 3em
		font-weight bold
		background-color colorFondoTituloConFecha