div(class="FechaConTitulo")
	div(class="FechaConTitulo-Fecha")
		div(class="FechaConTitulo-Fecha-Dia")=fechaDia
		div(class="FechaConTitulo-Fecha-Numero")=fechaNumero
		div(class="FechaConTitulo-Fecha-Mes")=fechaMes
	div(class="FechaConTitulo-Titulo")=titulo