extends ../layout/layout.jade
block head
	link(href='./inicio.css' rel='stylesheet')
	script(src='./inicio.js')
block header
	- rutaImagenes ='../../../imagenes'
block navegacion	
block contenido	
block footer
		include ../../../componentes/select/asep/select.jade
		include ../../../componentes/select/asep/select.jade
