rutaComponentes='../../../componentes'
rutaImagenes='../../../imagenes'


/************Layout****************/
@import('/home/zktitos/Escritorio/zkte-framework/zkte-framework/proyecto/aqde/layout/layout.styl')
/************Layout****************/
/************select****************/
@import('/home/zktitos/Escritorio/zkte-framework/zkte-framework/componentes/select/asep/select.styl')
/************select****************/


/************select****************/
@import('/home/zktitos/Escritorio/zkte-framework/zkte-framework/componentes/select/asep/select.styl')
/************select****************/


