rutaComponentes='../../../componentes'
rutaImagenes='../../../imagenes'

/************header****************/
backgroundHeader=green
@import(rutaComponentes+'/header/asep/header.styl')
/************header****************/
