extends ../layout/layout.jade
block head
	link(href='./inicio.css' rel='stylesheet')
	script(src='./inicio.js')
block header
	- rutaImagenes ='../../../imagenes';
	include ../../../componentes/header/asep/header.jade
block navegacion	
block contenido	
block footer
