extends ../layout/layout.jade
block head
	link(href='./inicio.css' rel='stylesheet')
	script(src='./inicio.js')
block header
	//header-asep
	- rutaImagenes ='../../../imagenes'
	- pestaniaUno='Amelia'
	- iconoUno='login_icon.png'
	- pestaniaDos='Daniel'
	- iconoDos='socio_icon.png'
	include ../../../componentes/header/asep/header.jade
	//header-asep
block navegacion
	//navegacion-asep
	- rutaImagenes ='../../../imagenes'
	- pestaniaUno='Nosotros'
	- pestaniaDos='Directorio'
	- pestaniaTres='Actividades'
	- pestaniaCuatro='Noticias'
	- pestaniaCinco='Beneficios'
	- pestaniaSeis='Pregúntanos'
	include ../../../componentes/navegacion/asep/navegacion.jade
	//navegacion-asep
block contenido	
	//paginacion-asep
	- rutaImagenes ='../../../imagenes'
	- paginas =["1","2","3","...","15","Siguiente>>"]
	include ../../../componentes/paginacion/asep/paginacion.jade
	//paginacion-asep
	//redesSociales-asep
	include ../../../componentes/redesSociales/asep/redesSociales.jade
	//redesSociales-asep
block footer

	


