rutaComponentes='../../../componentes'
rutaImagenes='../../../imagenes'


/************Layout****************/
@import('/home/zktitos/Escritorio/zkte-framework/zkte-framework/proyecto/twins/layout/layout.styl')
/************Layout****************/
/************header-asep****************/
background=#2ca7df
colorLetra=white
@import('/home/zktitos/Escritorio/zkte-framework/zkte-framework/componentes/header/asep/header.styl')
/************header-asep****************/


/************navegacion-asep****************/
colorDeLetraHoverDesktop=#2ca7df
colorDeFondoAlDarleHoverMovil=#f02228
bordeInferiorMovil=#cacfdc
@import('/home/zktitos/Escritorio/zkte-framework/zkte-framework/componentes/navegacion/asep/navegacion.styl')
/************navegacion-asep****************/


/************paginacion-asep****************/
rutaImagen='../../../imagenes/'
colorCuadroPaginacion=#f2f2f2
colorNumerosPaginacion=#A09A9A
borderCuadritoPaginacion=1px solid #CECBCB
backgroundCuadroSeleccionado=ea2227
colorNumeroSeleccionado=white
@import('/home/zktitos/Escritorio/zkte-framework/zkte-framework/componentes/paginacion/asep/paginacion.styl')
/************paginacion-asep****************/


/************redesSociales-asep****************/
background=#6b6767
@import('/home/zktitos/Escritorio/zkte-framework/zkte-framework/componentes/redesSociales/asep/redesSociales.styl')
/************redesSociales-asep****************/


