colorLibro=#f6b71c
grosorDeLibro=1.5em
rotate=rotate(0deg)
anchoLibro=8em
anchoPaginas=7.56em
@import('../libroEchado/dibujos.styl')
.ContenedorDeLibrosEchados
	width 11em
/***Libro Amarillo****/
.Libros-Echados-Amarillo
	margin-left 1.2em
/***Libro Amarillo****/
/***Libro Azul****/
.Libros-Echados-Azul
	margin-left 0.6em
.Libros-Echados-Azul .Dibujo-Libro
	transform rotate(180deg)
.Libros-Echados-Azul .Parte-Intermedia,.Libros-Echados-Azul .Tapa-Lateral-Izquierda,.Libros-Echados-Azul .Paginas
	height 0.9em
.Libros-Echados-Azul .Tapa-Superior,.Libros-Echados-Azul .Tapa-Inferior,.Libros-Echados-Azul .Tapa-Lateral-Izquierda
	background #437993
/***Libro Azul****/
/***Libro Verde****/
.Libros-Echados-Verde .Tapa-Superior,.Libros-Echados-Verde .Tapa-Inferior,.Libros-Echados-Verde .Tapa-Lateral-Izquierda
	background #21b699
.Libros-Echados-Verde .Parte-Intermedia,.Libros-Echados-Verde .Tapa-Lateral-Izquierda,.Libros-Echados-Verde .Paginas
	height 1.2em
.Libros-Echados-Verde .Paginas
	width 7.5em
/***Libro Verde****/
/***Libro Naranja****/
.Libros-Echados-Naranja
	margin-left 0.8em
.Libros-Echados-Naranja .Tapa-Superior,.Libros-Echados-Naranja .Tapa-Inferior,.Libros-Echados-Naranja .Tapa-Lateral-Izquierda
	background #f76f3f
.Libros-Echados-Naranja .Tapa-Superior,.Libros-Echados-Naranja .Tapa-Inferior
	width 9.5em
.Libros-Echados-Naranja .Paginas
	width 9em
/***Libro Naranja****/