div(class="ContenedorDeLibrosEchados")
	div(class="Libros-Echados-Amarillo")
		include ../libroEchado/dibujos.jade
	div(class="Libros-Echados-Azul")
		include ../libroEchado/dibujos.jade
	div(class="Libros-Echados-Verde")
		include ../libroEchado/dibujos.jade
	div(class="Libros-Echados-Naranja")
		include ../libroEchado/dibujos.jade