/**********Libros Echados***********/
colorLibro=#f6b71c
grosorDeLibro=1.5em
rotate=rotate(0deg)
anchoLibro=8em
anchoPaginas=7.56em
@import('../librosEchados/dibujos.styl')
/**********Libros Echados***********/
/**********Camara**********/
backgroundBotonSuperior=#d8eaee
alturaBotonSuperior=0.3em
anchoBotonSuperior=1.3em
backgroundBotonINferior=#962b23
@import('../camara/dibujos.styl')
/**********Camara**********/
.Estante
	display inline-block
.Dibujo-Camara, .ContenedorDeLibrosEchados
	display inline-block
	vertical-align bottom
.Barra-Soporte
	background #fffeff
	height 1em
	width 27em
.Dibujo-Camara
	margin-left 4em
.ContenedorDeLibrosEchados	
	margin-left 5em