rutaComponentes='../../../componentes'
rutaImagenes='../../../imagenes'

.pest-Titulo
	padding 0.2em 2em
	font-size 1.6em
	text-align center
	color #2f2b2b
.ContenedorDelTab
	padding-top 3em
	background #dee0e2
	padding-bottom 3em
.TabsAsep
	margin-left 4px
.contenedorFormulario-Paso2
	width 68%
	margin 0 auto
@media screen and (max-width: 1295px)
	.contenedorFormulario-Paso2
		width 95%
@media screen and (max-width: 830px)
	.contenedorDeSelectAValidar
		width 100% !important
	.pest-Titulo
		font-size 1.4em !important
	.label-Input
		width 100% !important
		max-width 100% !important
.datosDeLaEmpresa
	padding 2em 0em 1em 0em
	font-weight bold
	font-size 1.4em
	color #3A3838
.contenedorDeInputsPaso2
	padding 0.5em 0em
.cargar,.label-Input,.descinputFile
	display inline-block
	vertical-align middle
	color #4a4949
.label-Input,.contenedorDeSelectAValidar
	display inline-block
	vertical-align middle
.obligatorioAsterisco
	text-align center
	color #4a4949
	padding 1em 0em
.contenedorBotonSocioPaso2
	padding 1em 0em
	text-align center
.contenedorBotonSocioPaso2 a
	text-decoration none
.mensajeErrorActivo
	position absolute
	width 100%
	left 0
.pestaniasPadre
	position relative
	padding-bottom 3em
/************Layout****************/
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/proyecto/asep/layout/layout.styl')
/************Layout****************/
/************header-asep****************/
background=#2ca7df
colorLetra=white
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/header/asep/header.styl')
/************header-asep****************/


/************navegacion-asep****************/
colorDeLetraHoverDesktop=#2ca7df
colorDeFondoAlDarleHoverMovil=#f02228
bordeInferiorMovil=#cacfdc
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/navegacion/asep/navegacion.styl')
/************navegacion-asep****************/


/************titulo-asep****************/
fondoTituloAsep=#2ca7df
colorDeLetra=white
tamanioDeLetra=2.5em
padding=1.5em 0em
tamanioImagen=0em
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/titulo/asep/titulo.styl')
/************titulo-asep****************/

/************tabs-asep****************/
backgroundNumero=#5D5C5C
colorNumero=white
backgroundPestania=#b4b4b4
bordePestania=#8A8A8A
hoverPestaniaBackground=#DEE0E2
colorContenido=#777
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/tabs/asep/tabs.styl')
/************tabs-asep****************/





/************input-textAsep****************/
colorDeX=white
marginLeftSpanX=0.5em
colorBordeInput=gray
paddingleftInnput=0.5em
anchoInput=77%
altoInput=2.5em
backgroundInput=#f7f2f2
borderRadiusInput=3px
anchoDeLabel= 9%
colorLetrInput=#4a4949
tamanioTextArea=5em
colorBordeErrorInput=2px solid #a94442
backgroundDeX=#a94442
colorMensajeError=#a94442
backgroundMensajeEror=#f2dede
iconox="false"
if iconox=="true"
	activado=inline-block
if iconox=="false"
	activado=none

mensajeError="true"
if mensajeError=="true"
	activadoMensajeError=block
if mensajeError=="false"
	activadoMensajeError=none
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/input/textAsep/input.styl')
.zkteInputAsep, .zkteTextAreaAsep
	width 67%
.label-Input
	min-width 13em
.zkteTextAreaAsep
	height 11em !important
/************input-textAsep****************/


/************input-fileAsep****************/
colorDeLetra=#4e4444
colorDeBorde=gray
background=white
ancho=150px
alto=30px
tamanioLetra=18px
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/input/fileAsep/input.styl')
/************input-fileAsep****************/


/************select-asep****************/
rutaImagen="../../../imagenes/"
colorLetraSelect=#4a4949
colorDeX=white
backgroundDeX=#a94442
marginLeftSpanX=0.5em
colorBordeInput=gray
imagenFlecha="flecha.png"
backgroundSelect=#F7F2F2
tamanioLetraSelect=16px
paddingSelect=8px
borderRadiusSelect=5px
anchoSelect=100%
colorMensajeError=#a94442
backgroundMensajeEror=#f2dede
borderSelectError=2px solid #a94442
bordeSelectCorrecto=0px solid gray
iconox="false"
if iconox=="true"
	activado=inline-block
if iconox=="false"
	activado=none
mensajeError="true"
if mensajeError=="true"
	activadoMensajeError=block
if mensajeError=="false"
	activadoMensajeError=none
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/select/asep/select.styl')
.contenedorDeSelectAValidar
	width 66.9%
.SelectAsep
	border-radius 2px;
/************select-asep****************/


/************button-asepAzul****************/
background=#2ca7df
padding=9px 40px
color=white
borde=none
backgroundHover=#39b44c
tamanioLetara=1em
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/button/asepAzul/button.styl')
/************button-asepAzul****************/


/************redesSociales-asep****************/
background=#6b6767
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/redesSociales/asep/redesSociales.styl')
/************redesSociales-asep****************/


/************modal-asep****************/
colorFondoModal=#2E2E2E
colorFondoDetrasModal=rgba(243, 240, 240, 0.84)
colorLetraModal=#eeee
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/modal/asep/modal.styl')
/************modal-asep****************/


