extends ../layout/layout.jade
block head
	link(href='./socio.css' rel='stylesheet')
	script(src='./socio.js')
block header
	//header-asep
	- rutaImagenes ='../../../imagenes'
	- pestaniaUno='Login'
	- iconoUno='login_icon.png'
	- pestaniaDos='Hazte Socio'
	- iconoDos='socio_icon.png'
	include ../../../componentes/header/asep/header.jade
	//header-asep
block navegacion
	//navegacion-asep
	- rutaImagenes ='../../../imagenes'
	- pestaniaUno='Nosotros'
	- pestaniaDos='Directorio'
	- pestaniaTres='Actividades'
	- pestaniaCuatro='Noticias'
	- pestaniaCinco='Beneficios'
	- pestaniaSeis='Pregúntanos'
	include ../../../componentes/navegacion/asep/navegacion.jade
	//navegacion-asep
block contenido
	//modal-asep
	- rutaImagenes ='../../../imagenes'
	
	div#pestPaso2.modal(aria-hidden='true')
		.modal-dialog
			.modal-header
				a.btn-close(href='#close', aria-hidden='true') ×
			.modal-body
				div(style="text-align:center") Guardado Con éxito 
			.modal-footer
	//modal-asep
	//titulo-asep
	- rutaImagenes ='../../../imagenes'
	- tituloAsep="ÚNETE A LA ASEP"
	- logo="book.png"
	include ../../../componentes/titulo/asep/titulo.jade
	//titulo-asep
	//tabs-asep
	- rutaImagenes ='../../../imagenes'
	- pestaniaUno="Sobre ti"
	- contenidoUno="Queremos conocerte y saber cuáles son tus necesidades para emprender"
	- pestaniaDos="Sobre tu empresa"
	- contenidoDos="¿has fundado algún emprendimiento? Cuéntanos lo que haces"
	- pestaniaTres="Necesitamos de tu ayuda"
	- contenidoTres="Es la única forma de que hagamos de Perú el mejor lugar para emprender."
	- pestanias={1:pestaniaUno,2:pestaniaDos,3:pestaniaTres}
	- pestaniasContenido=[contenidoUno,contenidoDos,contenidoTres]	
	include ../../../componentes/tabs/asep/tabs.jade
	div(class="ContenedorDelTab")
		div(class="pestaniasPadre")
			div(class="pest") UNO
			div(class="pest")
				div(class="pest-Titulo").
					ESTÁS A UN PASO DE CONVERTIRTE EN SOCIO DE LA ASEP. POR FAVOR, CUÉNTANOS PARA HACER DESPLEGAR TU EMPRENDIMIENTO.
				div(class="contenedorFormulario-Paso2")
					div(class="datosDeLaEmpresa") Datos de empresa
					div(class="contenedorDeInputsPaso2")
						//input-textAsep
						//email,alfanumerico,numerico,alfabeto,rangoCaracteres
						- idInput="rucInput"
						- placeholder=""
						- tipo="text"
						- label="Ruc: (*)"
						include ../../../componentes/input/textAsep/input.jade
						//input-textAsep					
					div(class="contenedorDeInputsPaso2")
						//input-textAsep
						//email,alfanumerico,numerico,alfabeto,rangoCaracteres
						- idInput="nombreComercialInput"
						- placeholder=""
						- tipo="text"
						- label="Nombre Comercial: (*)"
						include ../../../componentes/input/textAsep/input.jade
						//input-textAsep
					div(class="contenedorDeInputsPaso2")
						//input-textAsep
						//email,alfanumerico,numerico,alfabeto,rangoCaracteres
						- idInput="paginaWebInput"
						- placeholder=""
						- tipo="text"
						- label="Página web"
						include ../../../componentes/input/textAsep/input.jade
						//input-textAsep					
					div(class="contenedorDeInputsPaso2")
						//input-textAsep
						//email,alfanumerico,numerico,alfabeto,rangoCaracteres
						- idInput="facebookInput"
						- placeholder=""
						- tipo="text"
						- label="Facebook: "
						include ../../../componentes/input/textAsep/input.jade
						//input-textAsep
					div(class="contenedorDeInputsPaso2")
						//input-textAsep
						//email,alfanumerico,numerico,alfabeto,rangoCaracteres
						- idInput="twiterInput"
						- placeholder=""
						- tipo="text"
						- label="Twiter: "
						include ../../../componentes/input/textAsep/input.jade
						//input-textAsep
					div(class="contenedorDeInputsPaso2")
						//input-textAsep
						//email,alfanumerico,numerico,alfabeto,rangoCaracteres
						- idInput="linkedinInput"
						- placeholder=""
						- tipo="text"
						- label="Linkedin: "
						include ../../../componentes/input/textAsep/input.jade
						//input-textAsep
					div(class="contenedorDeInputsPaso2")
						//input-textAsep
						//email,alfanumerico,numerico,alfabeto,rangoCaracteres
						- idInput="emailDeContactoInput"
						- placeholder=""
						- tipo="text"
						- label="E-mail de contacto: "
						include ../../../componentes/input/textAsep/input.jade
						//input-textAsep
					div(class="contenedorDeInputsPaso2")
						div(class="contenedorDeItemAValidar")
							div(class="label-Input") Logotipo de tu empresa:
							//input-fileAsep
							- contenido="Browse"
							include ../../../componentes/input/fileAsep/input.jade
							//input-fileAsep
							div(class="descinputFile") Min 300x300 pixeles

					div(class="contenedorDeInputsPaso2")						
						div(class="label-Input") Número de trabajadores: (*)
						//select-asep
						- opcionInicial="Seleccione"
						- opciones=["De 1 a 5 trabajadores","De 6 a 10 trabajadores","De 11 a 20 trabajadores","De 21 a 50 trabajadores","De 51 a 100 trabajadores","Más de 100 trabajadores"]
						- classSelect="nroTrabajadores"
						include ../../../componentes/select/asep/select.jade
						//select-asep
					div(class="contenedorDeInputsPaso2")						
						//input-textAsep
						//email,alfanumerico,numerico,alfabeto,rangoCaracteres
						- idInput="inicioActividadesInput"
						- placeholder=""
						- tipo="text"
						- label="Inicio de actividades(*): "
						include ../../../componentes/input/textAsep/input.jade
						//input-textAsep
					div(class="contenedorDeInputsPaso2")
						//input-textAsep
						//email,alfanumerico,numerico,alfabeto,rangoCaracteres
						- idInput="dedicaProductoInput"
						- placeholder=""
						- tipo="text-area"
						- label="¿A qué se dedica tu empresa?,¿Qué tipo de productos ofrece?: (*)"
						include ../../../componentes/input/textAsep/input.jade				
					div(class="contenedorDeInputsPaso2")						
						div(class="label-Input") Tipo de Empresa: (*)
						//select-asep
						- opcionInicial="Seleccione"
						- opciones=["Micro Empresa (ventas anuales hasta S/. 577,500 al año) ","Pequeña Empresa (ventas anuales superiores de S/. 577,500 a S/. 6´545,000 al año)","Mediana Empresa (ventas anuales superiores de S/. 6´545,000 a S/. 8´855,000 al año)","Gran Empresa (ventas anuales superiores a S/. 8´855,000 al año)"]
						- classSelect="tipoEmpresa"
						include ../../../componentes/select/asep/select.jade
						//select-asep
					div(class="contenedorDeInputsPaso2")						
						div(class="label-Input") Rubro al que pertenece tu empresa: (*)
						//select-asep
						- opcionInicial="Seleccione"
						- opciones=["Agricultura, ganadería, pesca","Actividades del sector minero","Industria manufacturera","Construcción e inmobiliarias","Comercio al por mayor y al por menor","Hoteles y restaurantes","Transporte, almacenamiento y comunicaciones","Actividades financieras","Administración Pública","Actividades de Educación y arte","Comercio Electrónico","Otras (especificar)"]
						- classSelect="rubroEmpresa"
						include ../../../componentes/select/asep/select.jade
						//select-asep
					div(class="contenedorDeInputsPaso2")						
						div(class="label-Input") ¿En qué etapa de desarrollo se encuentra tu empresa? (*)
						//select-asep
						- opcionInicial="Seleccione"
						- opciones=["Idea de negocio","Periodo de lanzamiento","Vendiendo","Expansión"]
						- classSelect="etapaEmpresa"
						include ../../../componentes/select/asep/select.jade
						//select-asep
					div(class="obligatorioAsterisco") (*) Obligatorio
					div(class="contenedorBotonSocioPaso2")
						a(href="#pestPaso2")
							//button-asepAzul
							- rutaImagenes ='../../../imagenes'
							- contenido="GUARDAR Y SEGUIR"
							- claseBtn="guardarPasoDos"
							include ../../../componentes/button/asepAzul/button.jade
							//button-asepAzul
					div(id="mensajeErrorForm")					
			div(class="pest")
				div(class="pest-Titulo").
					TODOS SOMOS EMPRENDEDORES Y ESTAMOS EN DISTINTAS ETAPAS DE CRECIMIENTO, POR ESO TE INVITAMOS A JUGÁRTELA CON UNA CUOTA A TU MEDIDA.
				div(class="") CÓMO PAGO MI CUOTA
				div
					img(src=rutaImagenes+"/calendarioAnual.png")
				div(class="") ¿QUÉ HACEMOS CON TUS CUOTAS EN LA ASEP?
					div
						div.
							Somos 6 personas y mas de 30 colaboradores trabajando para ti.
						img
					div
						div.
							Defensa ante caos de abusos en temas de emprendimiento.
						img
					div
						div.
							Hacemos que la voz de los emprendedores sea escuchada.
						img
					div
						div.
							Capacitación y redes de contacto en mas de 30 actividades al año
						img
				div(class="")
					div NECESITAMOS DE TU AYUDA PARA SEGUIR CRECIENDO
					div Trabajemos unidos para promover y defender el emprendimiento !todos somos ASEP!
	//tabs-asep
	//redesSociales-asep
	include ../../../componentes/redesSociales/asep/redesSociales.jade
	//redesSociales-asep
	
block footer


