div(class="Contenedor-Beneficios")
		div(class="Beneficios "+colorBorde)
			div(class="Beneficios-Img")
				img(src=rutaImagenes+"/"+imagen)
			div(class="Beneficios-Descripcion")
				div(class="Beneficios-Descripcion-Nombre "+colorLetra)=titulo
				div(class="Beneficios-Descripcion-Contenido")=contenido
					