ul.pgwSlider
    li
        img(src='paris.jpg', alt='Paris, France', data-description='Eiffel Tower and Champ de Mars')        
    li
        img(src='montreal_mini.jpg', alt='Montréal, QC, Canada', data-large-src='montreal.jpg')
    li
        img(src='shanghai.jpg')                 
        span Shanghai, China    
    li
        a(href='http://www.nyc.gov', target='_blank')
          img(src='new-york.jpg')              
          span New York, NY, USA
