rutaComponentes='../../../componentes'
rutaImagenes='../../../imagenes'

.rgtratTile
	color #252424
	text-align center
	padding 2em 0em
	font-size 1.5em
.vinietasContenedor
	padding 0em 5%
.contenedorFormulario
	padding 5em 0em
	background #dee0e2
	display flex
	justify-content center
	flex-direction column
	@media screen and (max-width: 650px)
		padding-left 1em
.fa-desktop
	font-size 15em
	color #252424
.contenedorDeLabels
	display flex
	color #595757
	justify-content center
	align-items center
	margin-bottom 0.5em
.contenedorPc
	text-align center
	color #4a4747
	display flex
	flex-direction column
	justify-content center
	align-items center
.PcTexto
	color #4a4747
	width 19em
	padding 3em 0em
	font-size 1.2em
	@media screen and (max-width: 450px)
		width 15em
.labelsTexto
	width 11em
	text-align right
.contenedorINput
	width 35%
	margin-left 1em
.contenedorBoton
	text-align center
	margin-top 4em
.linkCuentaSapn
	margin-top 1em
.linkCuenta
	color gray	
	display inline-block
.linkCuentahref
	margin-left 0.5em
.btn-validar
	text-decoration none
.bodyMOdal
	text-align center
.tituloModal
	font-size 1.5em
	color #5A7BDE
	border-bottom 1px solid #5A7BDE
	display inline-block
	padding 0em 0.5em
	margin-bottom 1em
	font-weight bold
@media screen and (max-width: 650px)
	.vinietasContenedor
		padding 0em 0em	
	.contenedorDeLabels
		display block
	.labelsTexto
		width 98%
		text-align left
	.contenedorINput
		width 98%
		margin-left 0em

/************Layout****************/
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/proyecto/asep/layout/layout.styl')
/************Layout****************/
/************header-asep****************/
background=#2ca7df
colorLetra=white
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/header/asep/header.styl')
/************header-asep****************/


/************navegacion-asep****************/
colorDeLetraHoverDesktop=#2ca7df
colorDeFondoAlDarleHoverMovil=#f02228
bordeInferiorMovil=#cacfdc
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/navegacion/asep/navegacion.styl')
/************navegacion-asep****************/


/************titulo-asep****************/
fondoTituloAsep=#252424
colorDeLetra=white
tamanioDeLetra=3em
padding=0.5em 0em
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/titulo/asep/titulo.styl')
/************titulo-asep****************/


/************vinietas-asep****************/
rojo1=#ca272c
plomo1=#6b6767
verde1=#6fb253
morado2=#7f2c88
celeste0=#64a5dd
mostaza=#e8ae30
bordeVinieta=2px solid #ca272c
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/vinietas/asep/vinietas.styl')
/************vinietas-asep****************/


/************input-textAsep****************/
colorDeX=white
backgroundDeX=#2ca7df
marginLeftSpanX=0.5em
colorBordeInput=#dee0e2
paddingleftInnput=0.5em
anchoInput=98%
altoInput=2.5em
backgroundInput=white
borderRadiusInput=3px
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/input/textAsep/input.styl')
/************input-textAsep****************/


/************button-asepAzul****************/
background=#2ca7df
padding=9px 40px
color=white
borde=none
backgroundHover=#39b44c
tamanioLetara=1em
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/button/asepAzul/button.styl')
/************button-asepAzul****************/


/************modal-asep****************/
colorFondoModal=#2E2E2E
colorFondoDetrasModal=rgba(243, 240, 240, 0.84)
colorLetraModal=#eeee
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/modal/asep/modal.styl')
/************modal-asep****************/


/************redesSociales-asep****************/
background=#6b6767
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/redesSociales/asep/redesSociales.styl')
/************redesSociales-asep****************/


/************footer-asep****************/
rutaImagenes="../../../imagenes"
imagenFooter1="btn_hazte_socio_white.png"
imagenFooter1Hover="btn_hazte_socio_white_selected.png"
celeste=#2ca7df
negro1=#4c4c4c
negro2=#303030
negro3=#232323
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/footer/asep/footer.styl')
/************footer-asep****************/


