/************header****************/
header {
  background: #008000;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2em;
}
header div {
  display: flex;
  justify-content: center;
  align-items: center;
  widht: 5em;
  margin-left: 1em;
}
header span {
  color: #fff;
}
header img {
  margin-right: 0.4em;
}
.img-header {
  height: 1.5em;
}
/************header****************/
