rutaComponentes='../../../componentes'
rutaImagenes='../../../imagenes'


/************Layout****************/
@import('/var/www/html/zkte-framework/zkte-framework/proyecto/select/layout/layout.styl')
/************Layout****************/
/************select****************/
- tamanioSelectDia=5%=5%
- tamanioSelectMes=7%=7%
- tamanioSelectAnio=5%=5%
@import('/var/www/html/zkte-framework/zkte-framework/componentes/select/asep/select.styl')
/************select-asep****************/


