.Dibujo-reloj {
  border: 5px solid #fff;
  background: #e66a5e;
  height: 6.5em;
  width: 7em;
  border-radius: 50%;
  text-align: center;
}
.hora-punto {
  height: 0.4em;
  width: 0.5em;
  background: #fff;
  border-radius: 50%;
  margin-top: 0.2em;
}
.hora-punto,
.hora-manecilla-superior,
.hora-manecilla-inferior {
  display: inline-block;
  vertical: align-top;
}
.hora-manecilla-superior {
  background: #fff;
  height: 2em;
  width: 0.2em;
  margin: 0em 2em;
  margin-top: 0.5em;
}
.hora-inferior {
  position: relative;
}
.hora-manecilla-inferior {
  height: 2.5em;
  width: 0.25em;
  background: #fff;
  position: absolute;
  top: -10px;
  left: 68px;
  transform: rotate(-44deg);
}
.hora-inferior .hora-punto {
  position: absolute;
  top: 31px;
  left: 54px;
}
