.Contenedor-Post-Cuda
	width anchoContenedor
	max-width 18em
	min-width 18em
	text-align center
	background background
	color colorLetra
	height tamanioPost
	border-radius 1em
	&-Img
		padding 3em 0em
		& img
			width 12em
	&-Titulo
		font-weight bold
		padding-bottom 0em 1em 1em 1em
		font-size 1em
		color colorTitulo
	&-Descripcion
		padding 1em 1em
		color colorLetra