.Contenedor-Post-Cuda
	width anchoContenedor
	max-width 18em
	min-width 18em
	text-align center
	background background
	color colorLetra
	height tamanioPost
	border-radius 1em
	&-Img
		position relative
		height 19em
		& img
			position absolute
			top 31%
			left 45%
			width 69%
			margin -15% 0 0 -25%
	&-Titulo
		font-weight bold
		padding 0em 2em
		font-size 1em
		color colorTitulo
	&-Descripcion
		padding 1em 3em
		color colorLetra