div(class="Contenedor-Post-Cuda")
	div(class="Contenedor-Post-Cuda-Img")
		img(src=rutaImagenes+"/"+imagen)
	div(class="Contenedor-Post-Cuda-Titulo")=titulo
	div(class="Contenedor-Post-Cuda-Descripcion")=descripcion