input[type="file"]
    z-index 999
    line-height 0
    position absolute
    opacity 0
    margin 0
    padding 0
    left 0
    cursor pointer
.cargar
    text-align center
    background-color background
    color colorDeLetra
    border 1px solid colorDeBorde
    border-radius 3px
    width ancho
    height alto
    font-size tamanioLetra
    line-height 1.6em
    cursor pointer


