div(class="Dibujo-Camara")
	div(class="Camara-Boton")
		div(class="Camara-Boton-Superior")
		div(class="Camara-Boton-Inferior")
	div(class="Camara-Cuerpo")
		div(class="Camara-Cuerpo-Superior")
			div(class="Camara-Cuerpo-Superior-Lente")
			div(class="Camara-Cuerpo-Superior-Cuadro")
		div(class="Camara-Cuerpo-Intermedio")
			div(class="Lente-Circular")
				div(class="Lente-Circular-INterior")
					div(class="CirculoBlancoGrande")
					div(class="CirculoBlancoChico")
		div(class="Camara-Cuerpo-Inferior")