rutaComponentes='../../../componentes'
rutaImagenes='../../../imagenes'

/************header****************/
celeste=#2ca7df;
@import(rutaComponentes+'/header/asep/header.styl')
/************header****************/


/************navegacion****************/
celeste=#2ca7df;
rojo1=#ca272c
plomo2=#CACFDC
@import(rutaComponentes+'/navegacion/asep/navegacion.styl')
/************navegacion****************/


/***********fecha-y-titulo***********/
colorFondoTituloConFecha=#38B34B
colorLetraTituloConFecha=white
@import(rutaComponentes+'/titulo/asep/fecha-y-titulo/fecha-y-titulo.styl')
/***********titulo-con-fecha***********/


/************inscripcion****************/
@import(rutaComponentes+'/inscripcion/asep/inscripcion.styl')
/************inscripcion****************/


/**********redes-sociales*********/
plomo1=#6b6767
@import(rutaComponentes+'/redes-sociales/asep/redes-sociales.styl')
/**********redes-sociales*********/


/************footer****************/
celeste=#2ca7df;
rojo1=#ca272c
plomo2=#CACFDC
negro1=#4c4c4c
negro2=#303030
negro3=#232323
@import(rutaComponentes+'/footer/asep/footer.styl')
/************navegacion****************/