backgroundNumero=#5D5C5C
colorNumero=white
backgroundPestania=#b4b4b4
bordePestania=#8A8A8A
hoverPestaniaBackground=#DEE0E2
colorContenido=#777
.desactivarTab
	background backgroundPestania !important// backgroundPestania
	&:hover
		background hoverPestaniaBackground !important//hoverPestaniaBackground
.activarTab
	background hoverPestaniaBackground !important//hoverPestaniaBackground
.TabsAsep
	//display flex
	//justify-content flex-start
	@media screen and (max-width: 750px)
		display none
	& a
		text-decoration none
	&-Pestania
		height inherit
		background backgroundPestania// backgroundPestania
		//padding 0.6em 0.5em
		cursor pointer
		border-right 1px solid bordePestania //bordePestania
		transition all ease 0.3s
		width 33.3%
		margin-left -4px
		display inline-block
		padding 1em 0em
		&:hover
			background hoverPestaniaBackground //hoverPestaniaBackground
		&-Bloque2
			margin-top 0.4em
			text-align left
			width 77%
		&-Ttulo
			//display flex
			color backgroundNumero //backgroundNumero
			text-align center
			&-Numero
				background backgroundNumero //backgroundNumero
				border-radius 50%							
				text-align center
				padding 0.5em 0.5em
				width 1em
				max-width 1em
				min-width 1em
				color colorNumero //colorNumero
				//display flex
				//justify-content center
				//align-items center
				margin-right 0.5em
		&-Contenido
			color colorContenido //colorContenido
			margin-top 0.4em
.TabsAsep-Pestania-Ttulo-Numero,.TabsAsep-Pestania-Bloque2
	display inline-block
	vertical-align top
.pest-3
	margin-left -5px
.TabsAsepMovil
	display none
	@media screen and (max-width: 750px)
		display block
	& a
		text-decoration none
	&-Pestania
		background backgroundPestania// backgroundPestania
		transition all ease 0.3s
		text-align center
		border-bottom 1px solid bordePestania //bordePestania
		//display flex
		//justify-content center
		//align-items center
		cursor pointer
		padding 0.9em 0em
		&:hover
			background hoverPestaniaBackground //hoverPestaniaBackground		
		&-Numero
			color colorNumero //colorNumero
			background colorContenido //colorContenido
			border-radius 50%
			//display flex
			//justify-content center
			//align-items center
			margin-right 1em
			padding 0.4em 0.8em
			min-width 2em
			max-width 2em
			max-height 2em
			min-height 2em
			
		&-Titulo
			color backgroundNumero //backgroundNumero	
			