
.header-Cuda
	background background
	color colorLetra
	padding 3em 6em
	padding-bottom 9em
	&-Nav
		position relative
		&-Titulo			
			font-weight bold
			&-Nombre
				font-size 2em
				text-decoration overline
				color colorNombre
			&-Apellido
				font-size 2.5em
				font-style italic
			& i
				display none
		&-Menu
			position absolute
			right 0
			top 15px
			& ul
				margin 0
				padding 0
				& li
					display inline-block
					vertical-align top
					list-style none
					& a					
						padding 0.5em
						border-radius 5px
						cursor pointer
						display inline-block
						color colorLetra
						text-decoration none
						transition all ease 0.3s
					& a:hover
						background backgroundMenu
						font-weight bold					
	&-Nav-Titulo,&-Nav-Menu
		display inline-block
		vertical-align top
	&-Descripcion
		text-align center
		padding 3em 3em
		font-size 2em
		font-weight bold
		font-style italic
	&-Boton
		text-align center
		& button
			background backgroundBoton
			border none
			padding 1em 3em
			font-size 1em
			outline none
			border-radius 0.2em
			transition all ease 0.3s
		& button:hover
			background backgroundBotonHover
@media screen and (max-width: 1030px)
	.header-Cuda-Boton
		padding-top 1em
	.header-Cuda-Descripcion
		display none
	.header-Cuda-Nav
		text-align center
	.header-Cuda	
		padding-bottom 3em
	.header-Cuda-Nav-Titulo i
		display inline-block
		position absolute
		right 0
		top 17px
		cursor pointer
	.header-Cuda-Nav-Menu
		display none
		width 100%
		position initial
	.header-Cuda-Nav-Menu ul li
		display block
		& a
			display block
			width 100%
			text-align center
@media screen and (max-width: 900px)
	.header-Cuda
		padding 1em 0em
	.header-Cuda-Nav-Menu a
		padding 0.5em 0em
	.header-Cuda-Nav-Titulo i
		right 18px
		top 17px
	.header-Cuda-Nav-Titulo-Nombre
		font-size 1.5em
	.header-Cuda-Nav-Titulo-Apellido
		font-size 2em
