.btn-close {
  color: #aaa;
  font-size: 20px;
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 6px;
  border-radius: 50%;
  background: #fff;
  color: #000;
  width: 1em;
  height: 1em;
  text-align: center;
}
.btn-close:hover {
  color: #919191;
}
.modal:before {
  content: "";
  display: none;
  background: rgba(243,240,240,0.84);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.modal:target:before {
  display: block;
}
.modal:target .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}
.modal-dialog {
  background: #2e2e2e;
  border: #333 solid 1px;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  width: 360px;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-body {
  padding: 20px;
  color: rgba(238,238,238,0.933);
}
.modal-header,
.modal-footer {
  padding: 10px 20px;
}
.modal-footer {
  text-align: right;
}
#close {
  display: none;
}
