rutaComponentes='../../../componentes'
rutaImagenes='../../../imagenes'
.elementoCentroLogin
	width 50%
.textoModal
	text-align center
.formluario
	background #828282
	display flex
	justify-content center
	padding 3em 0em
.formluario-span
	width 4em
	display inline-block
	color #292929
.btn-guardarValidar
	text-decoration none
.inputAsep
	outline none
	border-radius 3px
	height 2em
	border none
	width 25em
	font-weight bold
	color #1D1C1C
.formluarioDiv
	margin-bottom 1em
	display flex
	justify-content center
	align-items center
.btn-iniciarSesion
	display flex
	justify-content center
	flex-direction column
	align-items center	
.btn-iniciarSesion input
	margin-bottom 1em
.letraSoporte
	color #D6D6D6
.letraSoporte a
	color #D6D6D6
@media screen and (max-width: 650px)
	.formluarioDiv
		display block
	.elementoCentroLogin
		width 98%
	.btn-asepAzul
		font-size 0.8em !important
		padding 9px 20px !important
/************Layout****************/
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/proyecto/asep/layout/layout.styl')
/************Layout****************/
/************header-asep****************/
background=#2ca7df
colorLetra=white
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/header/asep/header.styl')
/************header-asep****************/


/************navegacion-asep****************/
colorDeLetraHoverDesktop=#2ca7df
colorDeFondoAlDarleHoverMovil=#f02228
bordeInferiorMovil=#cacfdc
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/navegacion/asep/navegacion.styl')
/************navegacion-asep****************/


/************titulo-asep****************/
fondoTituloAsep=#252424
colorDeLetra=white
tamanioDeLetra=3em
padding=0.5em 0em
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/titulo/asep/titulo.styl')
/************titulo-asep****************/


/************button-asepAzul****************/
background=#2ca7df
padding=9px 40px
color=white
borde=none
backgroundHover=#39b44c
tamanioLetara=1em
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/button/asepAzul/button.styl')
/************button-asepAzul****************/


/************redesSociales-asep****************/
background=#6b6767
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/redesSociales/asep/redesSociales.styl')
/************redesSociales-asep****************/


/************footer-asep****************/
rutaImagenes="../../../imagenes"
imagenFooter1="btn_hazte_socio_white.png"
imagenFooter1Hover="btn_hazte_socio_white_selected.png"
celeste=#2ca7df
negro1=#4c4c4c
negro2=#303030
negro3=#232323
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/footer/asep/footer.styl')
/************footer-asep****************/


/************input-textAsep****************/
colorDeX=white
backgroundDeX=#2ca7df
marginLeftSpanX=0.5em
colorBordeInput=white
paddingleftInnput=0.5em
anchoInput=98%
altoInput=2.5em
backgroundInput=#f7f2f2
borderRadiusInput=3px
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/input/textAsep/input.styl')
/************input-textAsep****************/


/************modal-asep****************/
colorFondoModal=#2E2E2E
colorFondoDetrasModal=rgba(243, 240, 240, 0.84)
colorLetraModal=#eeee
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/modal/asep/modal.styl')
/************modal-asep****************/


