/************Layout****************/
body {
  font-size: 16px;
  margin: 0;
  font-family: Arial;
  font-size: 16px;
}
.Contenedor {
  padding-left: 10%;
  padding-right: 10%;
}
@media screen and (max-width: 900px) {
  .Contenedor {
    padding-right: 0%;
    padding-left: 0%;
  }
}
/************Layout****************/
/************header-asep****************/
header {
  background: #2ca7df;
  height: 50px;
  width: 100%;
  position: relative;
}
header div {
  display: inline-block;
  widht: 5em;
  margin-left: 0.5em;
  margin-right: 1em;
  float: right;
  margin-top: 0.7em;
}
header span {
  color: #fff;
}
header img {
  margin-right: 0.4em;
}
header a {
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  justify-content: -ms-center;
  align-items: center;
  align-items: -ms-center;
  cursor: pointer;
  text-decoration: none;
  colo: #fff;
}
header a:hover {
  transform: scale(1.1);
}
.img-header {
  height: 1.5em;
}
/************header-asep****************/
/************navegacion-asep****************/
.img-Logo {
  height: 4em;
  border: none;
}
@media screen and (max-width: 412px) {
  .img-Logo {
    height: 3em;
  }
}
.Contenedor-NavegacionMenu {
  padding: 1.5em;
  position: relative;
}
.Contenedor-NavegacionMenu a,
.Contenedor-NavegacionMenu nav,
.Contenedor-NavegacionMenu Boton-Movil {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  border: none;
}
.Navegacion-Menu {
  position: absolute;
  right: 14px;
}
.Navegacion-Menu ul {
  list-style: none;
}
.Navegacion-Menu ul li {
  display: inline-block;
  vertical-align: top;
}
.Navegacion-Menu a {
  padding-left: 0.4em;
  padding-right: 0.4em;
  color: #595757;
  transition: all ease 0.4s;
  cursor: pointer;
  text-decoration: none;
}
.Navegacion-Menu a:hover {
  color: #2ca7df;
}
.Navegacion-Menu .active {
  color: #2ca7df;
  text-decoration: underline;
}
@media screen and (max-width: 1137px) {
  .Navegacion-Menu {
    display: none !important;
  }
}
.Boton-Movil {
  display: none;
  position: absolute;
  right: 30px;
  top: 38px;
}
@media screen and (max-width: 1137px) {
  .Boton-Movil {
    display: inline-block;
  }
}
.fa-angle-double-down {
  cursor: pointer;
  font-size: 2em !important;
  color: #808080;
  transition: all ease 0.3s;
}
.fa-angle-double-down:hover {
  color: #2ca7df;
}
.Navegacion-Menu-Movil {
  height: 0px;
  overflow: hidden;
  transition: all ease 0.5s;
}
.Navegacion-Menu-Movil ul {
  margin: 0;
  list-style: none;
  padding: 0;
  text-align: center;
  border-bottom: 1px solid #2ca7df;
}
.Navegacion-Menu-Movil li {
  background: #2ca7df;
  transition: all ease 0.3s;
  cursor: pointer;
}
.Navegacion-Menu-Movil li:hover {
  background: #f02228;
}
.Navegacion-Menu-Movil li a {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #cacfdc;
  width: 100%;
  display: inline-block;
  color: #fff;
}
@media screen and (max-width: 1137px) {
  .Navegacion-Menu-Movil {
    height: 0px;
  }
}
/************navegacion-asep****************/
/************titulo-asepA****************/
.titulo-Asep-A {
  color: #444343;
  border-bottom: 4px solid #fcaf14;
  padding-bottom: 5px;
  font-size: 3em;
  padding-left: 10px;
}
@media screen and (max-width: 600px) {
  .titulo-Asep-A {
    font-size: 2em !important;
  }
}
/************titulo-asepA****************/
/************titulo-asep****************/
.TituloAsep {
  background: #fcaf14;
  width: 100%;
  padding: 1.5em 0em;
  color: #2aa6df;
  font-weight: bold;
  text-align: center;
}
.TituloAsep-texto {
  font-size: 2.5em;
}
@media screen and (max-width: 453px) {
  .TituloAsep-texto {
    font-size: 1.5em;
  }
}
.TituloAsep-img img {
  height: 3em;
}
@media screen and (max-width: 453px) {
  .TituloAsep-img img {
    height: 2em;
  }
}
.TituloAsep-img,
.TituloAsep-texto {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1em;
}
/************titulo-asep****************/
.tituloAsep-2 {
  margint-top: 1em;
}
