
.Titulo-Service
	text-align center
	padding 1em 0em
	background background
	color colorLetra
	&-Titulo
		font-size 3em
	&-Borde
		border borde
		margin 0 auto
		width 5em
		margin-top 1em
		margin-bottom 1em
	&-Descripcion
		font-size 1.2em
		width 30%
		margin 0 auto
@media screen and (max-width: 900px)
	.Titulo-Service-Titulo
		font-size 2em
	.Titulo-Service-Descripcion
		width 66%