rutaComponentes='../../../componentes'
rutaImagenes='../../../imagenes'

.tituloAsep-2
	margin-top 2em
.bloqueIzquierda,.bloqueDerecha
	display inline-block
	vertical-align top
	margin 0
	height inherit
.bloqueIzquierda
	width 23%
	//background red
	min-width 15em
	&-Lupa
		text-align center
		padding-top 1em
		padding-bottom 1em
.bloqueDerecha
	width 75%
	padding-left 1em
	//background green
	margin-left -5px
.ContenedorPaginacion
	text-align center
	padding 4em 0em
@media screen and (max-width: 1330px)
	.bloqueIzquierda
		width 100%
	.bloqueDerecha
		width 100%
		margin-left 0px
		padding-left 0em
	.bloqueIzquierda-Lupa
		text-align center
	.searchAsep-Input
		width 86% !important

/************Layout****************/
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/proyecto/asep/layout/layout.styl')
/************Layout****************/
/************header-asep****************/
background=#2ca7df
colorLetra=white
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/header/asep/header.styl')
/************header-asep****************/

/************navegacion-asep****************/
colorDeLetraHoverDesktop=#2ca7df
colorDeFondoAlDarleHoverMovil=#f02228
bordeInferiorMovil=#cacfdc
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/navegacion/asep/navegacion.styl')
/************navegacion-asep****************/


/************titulo-asepA****************/
colorDeLetra=#444343
colorDeBorde=4px solid #fcaf14
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/titulo/asepA/titulo.styl')
/************titulo-asepA****************/


/************titulo-asep****************/
fondoTituloAsep=#fcaf14
colorDeLetra=#2aa6df
tamanioDeLetra=2.5em
padding=1.5em 0em
tamanioImagen=3em
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/titulo/asep/titulo.styl')
/************titulo-asep****************/

/************input-searchAsep****************/
rutaImagen='../../../imagenes/'
lupaImg="lupa.png"
borderInput=1px solid gray
alturaInput=2.5em
anchoInput=15em
borderRadiusInput=5px
alturaLupa=3em
anchoLupa=2em
backgroundSizeLupa=1.9em
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/input/searchAsep/input.styl')
/************input-searchAsep****************/



/************menu-desplegableAsep****************/
rutaImagen='../../../imagenes/'
maximoAncho=23em
padding= 2em 1em
background=#dee0e2
paddingDeTextos=0.5em 0em
colorLetra=#5D5D5D
colorLetraSeleccionada=#2ca7df
paddingBoton=0.5em 0em
backgroundBoton=#1b1e24
minimoAncho=12em
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/menu/desplegableAsep/menu.styl')
/************menu-desplegableAsep****************/

/************post-asepMini****************/
.Emprendedor-Cargo
	display none
	
rutaImagen='../../../imagenes/'
colorLetra=#6b6767
colorRedesSociales=#6b6767
colorLetraTitulo=#2ca7df
colorEstrella=#2ca7df
bordePost=1px solid #B1ADAD
tamanioRedesSociales=2em
marginRedesSociales=0.2em
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/post/asepMini/post.styl')
/************post-asepMini****************/


/************paginacion-asep****************/
rutaImagen='../../../imagenes/'
colorCuadroPaginacion=#f2f2f2
colorNumerosPaginacion=#A09A9A
borderCuadritoPaginacion=1px solid #CECBCB
backgroundCuadroSeleccionado=ea2227
colorNumeroSeleccionado=white
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/paginacion/asep/paginacion.styl')
/************paginacion-asep****************/


