extends ../layout/layout.jade
block head
	link(href='./directorio.css' rel='stylesheet')
	script(src='./directorio.js')
block header
	//header-asep
	- rutaImagenes ='../../../imagenes'
	- pestaniaUno='Login'
	- iconoUno='login_icon.png'
	- pestaniaDos='Hazte Socio'
	- iconoDos='socio_icon.png'
	include ../../../componentes/header/asep/header.jade
	//header-asep
block navegacion
	//navegacion-asep
	- rutaImagenes ='../../../imagenes'
	- pestaniaUno='Nosotros'
	- pestaniaDos='Directorio'
	- pestaniaTres='Actividades'
	- pestaniaCuatro='Noticias'
	- pestaniaCinco='Beneficios'
	- pestaniaSeis='Pregúntanos'
	include ../../../componentes/navegacion/asep/navegacion.jade
	//navegacion-asep
block contenido	
	//titulo-asepA
	- rutaImagenes ='../../../imagenes'
	- titulo="DIRECTORIO"
	include ../../../componentes/titulo/asepA/titulo.jade
	//titulo-asepA
	div(class="tituloAsep-2")
		//titulo-asep
		- rutaImagenes ='../../../imagenes'
		- tituloAsep="DIRECTORIO DE EMPRENDEDORES"
		- logo="book.png"
		include ../../../componentes/titulo/asep/titulo.jade
		//titulo-asep
	div(class="bloqueIzquierda")
		div(class="bloqueIzquierda-Lupa")
			//input-searchAsep
			- rutaImagenes ='../../../imagenes'
			- placeholder="Buscar...."
			include ../../../componentes/input/searchAsep/input.jade
			//input-searchAsep
	div(class="bloqueDerecha")
block footer	

