rutaComponentes='../../../componentes'
rutaImagenes='../../../imagenes'


/************Layout****************/
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/proyecto/asep/layout/layout.styl')
/************Layout****************/
/************header-asep****************/
background=#2ca7df
colorLetra=white
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/header/asep/header.styl')
/************header-asep****************/

/************navegacion-asep****************/
colorDeLetraHoverDesktop=#2ca7df
colorDeFondoAlDarleHoverMovil=#f02228
bordeInferiorMovil=#cacfdc
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/navegacion/asep/navegacion.styl')
/************navegacion-asep****************/


/************titulo-asepA****************/
colorDeLetra=#444343
colorDeBorde=4px solid #fcaf14
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/titulo/asepA/titulo.styl')
/************titulo-asepA****************/


/************titulo-asep****************/
fondoTituloAsep=#fcaf14
colorDeLetra=#2aa6df
tamanioDeLetra=2.5em
padding=1.5em 0em
tamanioImagen=3em
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/titulo/asep/titulo.styl')
/************titulo-asep****************/
.tituloAsep-2
	margin-top 2em
.bloqueIzquierda,.bloqueDerecha
	display inline-block
	vertical-align top

/************input-searchAsep****************/
rutaImagen='../../../imagenes/'
lupaImg="lupa.png"
borderInput=1px solid gray
alturaInput=1.5em
anchoInput=12em
borderRadiusInput=5px
alturaLupa=2em
anchoLupa=2em
backgroundSizeLupa=1.7em
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/input/searchAsep/input.styl')
/************input-searchAsep****************/


