rutaComponentes='../../../componentes'
rutaImagenes='../../../imagenes'
.ContenedorSlider
	margin-top 1em
	padding 0 3em
/************Layout****************/
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/proyecto/mi-blog/layout/layout.styl')
/************Layout****************/

/************header-miBlog****************/
background=#1976D2
colorLetra=white
colorNombre=white
colorApellido=#2D2827
tamanioHeader=5em
backgroundMovilMenu=#2196F3
backgroundHoverMovil=#FF5722
colorHoverMovil=white
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/header/miBlog/header.styl')
.header-contenedor-Nombres
	font-family 'Shadows Into Light', cursive
	font-weight bold;
/************header-miBlog****************/


/************slider-miBlog****************/
rutaImagen='../../../imagenes/'
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/slider/miBlog/slider.styl')
/************slider-miBlog****************/


