rutaComponentes='../../../componentes'
rutaImagenes='../../../imagenes'


/************Layout****************/
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/proyecto/mi-blog/layout/layout.styl')
/************Layout****************/

/************header-miBlog****************/
background=#FFFFFF
colorLetra=#A7A7A7
colorNombre=#C2C2C2
colorApellido=#A89574
tamanioHeader=5em
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/header/miBlog/header.styl')
/************header-miBlog****************/


