extends ../layout/layout.jade
block head
	link(href='./inicio.css' rel='stylesheet')
	script(src='./inicio.js')
block header
	//header-miBlog
	- nombre= "Daniel"
	- apellido= "Moreno"
	- rutaImagenes ='../../../imagenes'
	- pestaniaUno='Tecnologías'
	- pestaniaDos='Proyectos'
	- pestaniaTres='Experiencia Laboral'
	- pestaniaCuatro='Recomendaciones'
	include ../../../componentes/header/miBlog/header.jade
	//header-miBlog
block navegacion	
block contenido	
block footer

	
