extends ../layout/layout.jade
block head
	link(href='./hazte-socio-01.css' rel='stylesheet')
	script(src='./hazte-socio-01.js')
block header
	include ../../../componentes/header/asep/header.jade
block navegacion
	include ../../../componentes/navegacion/asep/navegacion.jade
block contenido
	include ../../../componentes/titulo/asep/titulo.jade	
block footer		
