extends ../layout/layout.jade
block head
	link(href='./hazte-socio.css' rel='stylesheet')
	script(src='./hazte-socio.js')
block header
	- pestaniaUno='Login'
	- iconoUno='login_icon.png'
	- pestaniaDos='Hazte Socio'
	- iconoDos='socio_icon.png'
	include ../../../componentes/header/asep/header.jade
block navegacion
block contenido
block footer