extends ../layout/layout.jade
block head
	link(href='./hazte-socio.css' rel='stylesheet')
	script(src='./hazte-socio.js')
block header
	//header-asep
	- rutaImagenes ='../../../imagenes'
	- pestaniaUno='Login'
	- iconoUno='login_icon.png'
	- pestaniaDos='Hazte Socio'
	- iconoDos='socio_icon.png'
	include ../../../componentes/header/asep/header.jade
	//header-asep

block navegacion
	//navegacion-asep
	- rutaImagenes ='../../../imagenes'
	- pestaniaUno='Nosotros'
	- pestaniaDos='Directorio'
	- pestaniaTres='Actividades'
	- pestaniaCuatro='Noticias'
	- pestaniaCinco='Beneficios'
	- pestaniaSeis='Pregúntanos'
	include ../../../componentes/navegacion/asep/navegacion.jade
	//navegacion-asep	
block contenido
	//titulo-asep
	- rutaImagenes ='../../../imagenes'
	- tituloAsep='ÚNETE A LA ASEP'
	include ../../../componentes/titulo/asep/titulo.jade
	//titulo-asep

	//tabs-asep
	- rutaImagenes ='../../../imagenes'
	- pestaniaUno="Sobre ti"
	- contenidoUno="Queremos conocerte y saber cuáles son tus necesidades para emprender"
	- pestaniaDos="Sobre tu empresa"
	- contenidoDos="¿has fundado algún emprendimiento? Cuéntanos lo que haces"
	- pestaniaTres="Necesitamos de tu ayuda"
	- contenidoTres="Es la única forma de que hagamos de Perú el mejor lugar para emprender."
	- pestanias={1:pestaniaUno,2:pestaniaDos,3:pestaniaTres}
	- pestaniasContenido=[contenidoUno,contenidoDos,contenidoTres]	
	include ../../../componentes/tabs/asep/tabs.jade
	div(class="ContenedorDelTab")
		div(class="pestaniasPadre")
			div(class="pest")
				div(class="pest-Titulo").
					EN LA ASEP TE ENRTREGAMOS HERRAMIENTAS ÚNICAS E INNOVADORAS PARA
					HACER DESPLEGAR TU EMPRENDIMIENTO,
				- labels=["Nombres: ","Apellidos: ","E-mail: ","Contraseña: ","Confirmar Contraseña: ","Documento De Identidad: ","Fecha De Nacimiento: ","Sexo: ","Nacionalidad: ","Region: ","Departamento: ","Provincia: ","Distrito: ","Teléfono: ","Area De Interes: ","¿Ya tienes una empresa?"]
				div(class="labels")
					each label,index in labels
						div(class="labels-Cont")
							div(class="label-texto")=label
							if index==6
								div(class="label-input")
									//select-asep
									- datoSelectDia=[1,2,3,4]
									include ../../../componentes/select/asep/select.jade
									//select-asep
							else if index==7
								div(class="label-input radioButonLinea radioMultipleMovil")
									div
										input(type="radio" class="radioSexo")
										span Hombre
										input(type="radio" class="radioSexo")
										span Mujer
							else if index==8 || index==9 || index==10 || index==11 || index==12
								div(class="label-input")
									//select-asep
									- datoSelectDia=[1,2,3,4]
									include ../../../componentes/select/asep/select.jade
									//select-asep
							else if index==14
								- labelsRadiosButton =["Temas legales, Contables, Tributarios","Marketing, Publicidad, Ventas, Redes Sociales","Financiamiento, inversionistas","Modelo de negocios","Internacionalización","Propiedad Intelectual y patentamiento"]
								div(class="label-input radioMultipleMovil")
									div(class="RadioContenedor")
										each labelRadio in labelsRadiosButton
											div(class="RadioContenedorIndividual")
												input(type="radio")
												span=labelRadio
							else if index==15
								div(class="label-input radioButonLinea radioMultipleMovil")
									div
										input(type="radio" class="radioSexo")
										span Si
										input(type="radio" class="radioSexo")
										span No
							else
								div(class="label-input") input
							if index==13
								div
							else
								div(class="asterisco") *
				div(class="UltimoRadio")
					div
						input(type="radio")
					div
						span.
							Autorizo a la ASEP a conservar mis datos y utilizarlos para mantenerme informado acerca de sus actividades para que me inviten a colaborar y que me incluyan en su bolasa de oportunidades; conforme a lo establecido en la política de privacidad contenida en la página web. 
						a(href="#") Ver política de privacidad
				div(class="obligatorio") *Obligatorio
				div(class="botonGuardar")
					//button-asepAzul
					- contenido="GUARDAR"
					include ../../../componentes/button/asepAzul/button.jade
					//button-asepAzul

			div(class="pest") DOS
			div(class="pest") TRES
	//tabs-asep

block footer
	//redesSociales-asep
	include ../../../componentes/redesSociales/asep/redesSociales.jade
	//redesSociales-asep

	//footer-asep
	- rutaImagenes ='../../../imagenes'
	- colaborador1="inkuba.png"
	- colaborador2="clicksandbricks.png"
	- colaborador3="labase.png"
	- colaborador4="mujeres.png"
	- sponsor1="bid.png"
	- logoAsep="asep_footer.png"
	- logoFotterFin1="sombrero.png"
	include ../../../componentes/footer/asep/footer.jade
	//footer-asep
