- rutaImagenes ="../../../imagenes";
header
	div
		a
			img(class="img-header" src=rutaImagenes+"/login_icon.png")
			span Login
	div
		a
			img(class="img-header" src=rutaImagenes+"/socio_icon.png")
			span Hazte Socio