background=#2ca7df
colorLetra=white
/********solo header***************/
header
	background background
	height 50px	
	width 100%
	position relative
	& div
		display inline-block
		widht 5em
		margin-left 0.5em
		margin-right 1em
		float right
		margin-top 0.7em
	& span
		color colorLetra
	& img
		 margin-right 0.4em
	& a
		display flex
		display -ms-flexbox
		justify-content center
		justify-content -ms-center
		align-items center
		align-items -ms-center
		cursor pointer
		text-decoration none
		colo colorLetra
 header a:hover
	transform scale(1.1)	
.img-header
	height 1.5em
/********solo header***************/