/********solo header***************/
header
	background celeste
	height 50px
	display flex
	justify-content flex-end
	align-items center
	padding-right 2em
	div
		display flex
		justify-content center
		align-items center
		widht 5em
		margin-left 1em
	span
		color white
	img
		 margin-right 0.4em
.img-header
	height 1.5em
/********solo header***************/