extends ../layout/layout.jade
block head
	link(href='./directorio-info.css' rel='stylesheet')
	script(src='./directorio-info.js')
block header
	//header-asep
	- rutaImagenes ='../../../imagenes'
	- pestaniaUno='Mi Perfil'
	- iconoUno='login_icon.png'
	- pestaniaDos='Haz tu aporte'
	- iconoDos='socio_icon.png'
	include ../../../componentes/header/asep/header.jade
	//header-asep
block navegacion
	//navegacion-asep
	- rutaImagenes ='../../../imagenes'
	- pestaniaUno='Nosotros'
	- pestaniaDos='Directorio'
	- pestaniaTres='Actividades'
	- pestaniaCuatro='Noticias'
	- pestaniaCinco='Beneficios'
	- pestaniaSeis='Pregúntanos'
	include ../../../componentes/navegacion/asep/navegacion.jade
	//navegacion-asep
block contenido	
	//modal-asep
	- rutaImagenes ='../../../imagenes'	
	div#modal.modal(aria-hidden='true')
		.modal-dialog
			.modal-header
				a.btn-close(href='#close', aria-hidden='true') ×
			.modal-body
				div() Su mensaje se ah enviado con éxtio
			.modal-footer
	//modal-asep
	//titulo-asepA
	- rutaImagenes ='../../../imagenes'
	- titulo="DIRECTORIO"
	include ../../../componentes/titulo/asepA/titulo.jade
	//titulo-asepA
	div(class="tituloAsep-2")
		//titulo-asep
		- rutaImagenes ='../../../imagenes'
		- tituloAsep="DIRECTORIO DE EMPRENDEDORES"
		- logo="book.png"
		include ../../../componentes/titulo/asep/titulo.jade
		//titulo-asep
	div(class="bloqueIzquierda")
		div(class="bloqueIzquierda-Lupa")
			//input-searchAsep
			- rutaImagenes ='../../../imagenes'
			- placeholder="Buscar...."
			include ../../../componentes/input/searchAsep/input.jade
			//input-searchAsep
		div(class="contenedorMenuDesplegable")
			//menu-desplegableAsep
			- rutaImagenes ='../../../imagenes'
			-labels=["Todos","Notaria","Arquitectura","Abogados","Publicidad","Viajes y Turismo","Insumos","Salud","Belleza","E-comerce","Eventos","Soporte Técnico","Catering"]
			include ../../../componentes/menu/desplegableAsep/menu.jade
			//menu-desplegableAsep
	div(class="bloqueCentro")
		div(class="DirecotrioInfo-Header Emprendedor-Img")
			img(src=rutaImagenes+"/"+"emprendedor.jpg")
			div(class="DirecotrioInfo-Header-Titulo")
				div(class="Emprendedor-Nombre") Daniel Moreno
				div(class="Emprendedor-Cargo") Front end de Asep
		div(class="DirecotrioInfo-Texto")
			p.
				Economista y MBA de ESAN con especialización en Gerencia de Tecnologías de la Información. Fundadora y Directora del capítulo de Perú de Women@TheFrontier, promoviendo igualdad de género y Startups en tecnologías exponenciales. Ganadora de la 2da generación de Start-up Perú con su extraordinario proyecto Hoope.
			p.
				Economista y MBA de ESAN con especialización en Gerencia de Tecnologías de la Información. Fundadora y Directora del capítulo de Perú de Women@TheFrontier, promoviendo igualdad de género y Startups en tecnologías exponenciales. Ganadora de la 2da generación de Start-up Perú con su extraordinario proyecto Hoope
				Economista y MBA de ESAN con especialización en Gerencia de Tecnologías de la Información. Fundadora y Directora del capítulo de Perú de Women@TheFrontier, promoviendo igualdad de género y Startups en tecnologías exponenciales. Ganadora de la 2da generación de Start-up Perú con su extraordinario proyecto Hoope
		div(class="DirecotrioInfo-btnMegusta") Aca pon el boton me gusta de facebook
		div(class="DirecotrioInfo-Formulario")
			div(class="contenedorInputs")
				//input-textAsep
				//email,alfanumerico,numerico,alfabeto,rangoCaracteres
				- idInput="nombreInput"
				- placeholder=""
				- tipo="text"
				- label="Nombres: (*)"
				include ../../../componentes/input/textAsep/input.jade
				//input-textAsep
			div(class="contenedorInputs")
				//input-textAsep
				//email,alfanumerico,numerico,alfabeto,rangoCaracteres
				- idInput="apellidosInput"
				- placeholder=""
				- tipo="text"
				- label="Apellidos: (*)"
				include ../../../componentes/input/textAsep/input.jade
				//input-textAsep
			div(class="contenedorInputs")
				//input-textAsep
				//email,alfanumerico,numerico,alfabeto,rangoCaracteres
				- idInput="emailInput"
				- placeholder=""
				- tipo="text"
				- label="E-mail: (*)"
				include ../../../componentes/input/textAsep/input.jade
				//input-textAsep
			div(class="contenedorInputs")
				//input-textAsep
				//email,alfanumerico,numerico,alfabeto,rangoCaracteres
				- idInput="telefonoInput"
				- placeholder=""
				- tipo="text"
				- label="Telefono:"
				include ../../../componentes/input/textAsep/input.jade
				//input-textAsep
			div(class="contenedorInputs")
				//input-textAsep
				//email,alfanumerico,numerico,alfabeto,rangoCaracteres
				- idInput="mensajeTextArea"
				- placeholder=""
				- tipo="text-area"
				- label="Mensaje: (*)"
				include ../../../componentes/input/textAsep/input.jade
				//input-textAsep
		div(class="ContenedorObligatorio") (*) Obligatorio
		a(href="#modal" class="sinSUbrayado")
			div(class="ContenedorBotonObligatorio")
				//button-asepAzul
				- rutaImagenes ='../../../imagenes'
				- contenido="ENVIAR"
				- claseBtn="btn-Enviar"
				include ../../../componentes/button/asepAzul/button.jade
				//button-asepAzul
	div(class="bloqueDerecha")
		div(class="Emprendedor-RedesSociales")
			div(class="estrellitas")
				i(class="fa fa-star starActivada")
				i(class="fa fa-star starActivada")
				i(class="fa fa-star starActivada")
				i(class="fa fa-star starActivada")
				i(class="fa fa-star starActivada")
			div(class="redes")
				span(class="facebook")
					i(class="fa fa-facebook-official")
				span(class="twiter")
					i(class="fa fa-twitter-square")
				span(class="linkedin")
					i(class="fa fa-linkedin-square")
			
		
block footer


