.InputAsep
	background: colorInput
	-moz-appearance: none
	-webkit-appearance: none
	appearance: none
	font-size: 12px
	padding: 8px
	width: tamanioInput
	border-right-width: 2px
	border-top-width: 0.5px
	border-right-width: 1px
	border-radius: 5px