//EmailValidar,NombreValidar,ApellidoValidar,ContraseniaValidar,DniValidar,TelefonoValidar,RucValidar
- idInput="myId"
- placeholder="prueba"
- tipo="text"
- label="Nombre"
div(class="contenedorDeItemAValidar")
	div(class="label-Input")=label
	input(type=tipo placeholder=placeholder class="zkteInputAsep " id=idInput)
	span(class='errorInputValidado' id="spanError-"+idInput) X
div(class="btn-submit") bton