
.label-Input,.zkteInputAsep,.errorInputValidado
	display inline-block
	vertical-align middle
.label-Input
	width anchoDeLabel
	max-width 15em
	min-width 9em
	text-align right
	margin-right 1em
	color colorLetrInput
.errorInputValidado
	color colorDeX
	height 1.5em
	width 2em
	background backgroundDeX
	display inline-block
	vertical-align top
	border-radius 50%
	font-weight bold
	text-align center
	padding-top 0.5em
	margin-left marginLeftSpanX
	display none
	transition all ease 0.5s
	cursor pointer
	max-width 2em
	min-width 2em
.contenedorDeItemAValidar
	//display flex
	//align-items center
	width 100%
	margin 0 auto !important
.InputInvalidado
	display none
	transition all ease 0.5s
.inputValido
	display activado
.zkteTextAreaAsep	
	resize: none;
	height tamanioTextArea !important
.zkteTextAreaAsep,.label-Input
	display inline-block
	vertical-align middle
.zkteInputAsep,.zkteTextAreaAsep
	border-radius borderRadiusInput
	border 1px solid colorBordeInput
	padding-left paddingleftInnput
	width anchoInput
	height altoInput
	outline none
	background backgroundInput
@media screen and (max-width: 830px)
	.label-Input
		display block
		text-align left
	.zkteInputAsep,.zkteTextAreaAsep
		width 100% !important
	.errorInputValidado
		display none
.bordeErrorInput
	border colorBordeErrorInput
	
.mensajeErrorActivo
	display activadoMensajeError
	background backgroundMensajeEror
	color colorMensajeError
	padding 1em 1em
	text-align center
.mensajeErrorActivo i
	margin-right 1em
.mensajeErrorInactivo
	display none
