rutaComponentes='../../../componentes'
rutaImagenes='../../../imagenes'
body
	font-family 'Open Sans Condensed', sans-serif;
.ContenedorDeSlider
	margin-top 1em
	padding 0em 3em
.Contenedor-Verde
	background #17c2a4
	padding 3em 0em
	text-align center
/************Layout****************/
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/proyecto/capacitacionfront/layout/layout.styl')
/************Layout****************/
/************header-cuda****************/
rutaImagen='../../../imagenes/'
background=#87509C
colorLetra=white
backgroundMenu=#643A79
colorNombre=#EB7D4B
backgroundBoton=#EB7D4B
backgroundBotonHover=#2B2A29
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/header/cuda/header.styl')
.header-Cuda-Descripcion
	font-weight normal
	font-family 'Shadows Into Light', cursive
.header-Cuda-Nav-Menu
	font-family 'Open Sans Condensed', sans-serif;
/************header-cuda****************/


/************slider-miBlog****************/
rutaImagen='../../../imagenes/'
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/slider/miBlog/slider.styl')
/************slider-miBlog****************/


/************titulo-service****************/
background=#17C2A4
color=white
borde=4px solid #14A58C
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/titulo/service/titulo.styl')
.Titulo-Service-Titulo
	font-family 'Shadows Into Light', cursive
/************titulo-service****************/


/************post-cuda****************/
rutaImagen='../../../imagenes/'
anchoContenedor=18em
background=#17C2A4
colorLetra=white
colorTitulo=#192530
tamanioPost= 23em
@import('/home/daniel/Escritorio/zkte-framework/zkte-framework/componentes/post/cuda/post.styl')
.Contenedor-Post-Cuda
	display inline-block
	vertical-align top
/************post-cuda****************/


