
.contenedorMenu
	width 100%
	background #dee0e2	
	min-width minimoAncho
	text-align center
.menu-numero,.menu-label
	display inline-block
	vertical-align top		
	background background
.contenedorLabel
	position relative
	padding paddingDeTextos
	color colorLetra
	text-align left
	width 93%
	margin 0 auto
.menu-numero
	position absolute
	right 0
	top 10px
.label-a
	text-decoration none
	color colorLetra
.label-a-selected
	color colorLetraSeleccionada
	text-decoration underline
.btnDesplegable
	padding paddingBoton
	cursor pointer
	background backgroundBoton
	margin-left -5px
	display none
	text-align right
	width 95%
	margin 0 auto
	padding-right 0.5em
.contenedorDeLabels
	padding padding
@media screen and (max-width: 1330px)
	.contenedorDeLabels
		display none
	.btnDesplegable
		display block
		margin-left 0 auto
	.contenedorMenu
		padding-top 1em
		padding-left 0em
		padding-right 0em
		padding-bottom 0em