div(class="contenedorCalificanos") Califícanos
div(class="estrellitas")
	i(class="fa fa-star" id="votacion-1")
	i(class="fa fa-star" id="votacion-2")
	i(class="fa fa-star" id="votacion-3")
	i(class="fa fa-star" id="votacion-4")
	i(class="fa fa-star" id="votacion-5")